<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cinnovate.sanbotexp"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WheelsActivity" />

        <activity android:name=".LightsActivity" />

        <activity android:name=".HeadMovementActivity" />

        <activity android:name=".TouchSensorActivity" />
        <activity android:name=".EmotionActivity" />

        <activity android:name=".SpeechActivity">
            <meta-data
                android:name="RECOGNIZE_MODE"
                android:value="1" />
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".ArmMovementActivity" />

        <activity android:name=".SoundSourceActivity" />

        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:hardwareAccelerated="true" />


        <activity android:name=".PirActivity" />

        <activity android:name=".ProjectorActivity" />
        <activity android:name=".FaceRecognitionActivity" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.sanbot.opensdk.utils.GrammarProvider"

            android:authorities="com.cinnovate.sanbotexp.grammar"
            android:exported="true" />
    </application>

</manifest>